<?xml version='1.0' encoding='utf-8'?>		
 <!DOCTYPE hibernate-configuration PUBLIC		
     "-//Hibernate/Hibernate Configuration DTD//EN"		
   "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">		
<hibernate-configuration>		
     <session-factory>		
         <!-- Database connection settings -->		
         <property name="connection.driver_class">com.mysql.jdbc.Driver</property>		
         <property name="connection.url">jdbc:mysql://loversdbinstance.cuaexxrzuxp9.us-east-1.rds.amazonaws.com:3306/loversdb</property>		
        <property name="connection.username">loversdb</property>		
        <property name="connection.password">loversdb</property>		
        <property name="hibernate.id.new_generator_mappings">false</property>		
       <property name="dialect">org.hibernate.dialect.MySQLDialect</property>		
        <property name="hibernate.hbm2ddl.auto">update</property>		
        <property name="show_sql">true</property>		
         <property name="connection.pool_size">10</property>		
  		
         <!-- Mention here all the model classes along with their package name -->		
  		<mapping class="org.inayat.novo.ringelweb.model.UserModel"/>		
  		<mapping class="org.inayat.novo.ringelweb.model.HelpTextModel"/>		
  			<mapping class="org.inayat.novo.ringelweb.model.GfBfDataModel"/>		
  		<mapping class="org.inayat.novo.ringelweb.model.FaqModel"/>		
 		<mapping class="org.inayat.novo.ringelweb.model.CelebrationModel"/>		
     </session-factory>		
 </hibernate-configuration> 